body{
    background-color: antiquewhite;
}

h1{
    text-align: center;
    margin: 2em;
}

.container{
    display: grid;
    place-items: center;
}

.controls{
    margin: 1em;
}

.control-buttons{
    background-color: aquamarine;

    width: 75px;
    height: 25px;

    margin: 0.5em;
}

.content{

    color: gray;

    display: grid;
    grid-template-columns: 100px 100px 100px;
    gap: 1px;
    margin: 1em;
}   

.button{
    height: 100px;
    font-size: 40px;
    color: white;   
}

.final-res{
    color: blueviolet;
    font-size: x-large;

    border: dashed goldenrod;
    padding: 0.5em;
}